
 body {
    background-color: blueviolet;
  
  }
  
  .splash {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  .splash div {
    width: 200px;
    height: 50px;
    color: white;
  }

  .image {
    -webkit-animation:spin 6s linear infinite;
    -moz-animation:spin 6s linear infinite;
    animation:spin 6s linear infinite;
  }


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }